#homepage-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#homepage-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#main-homepage-header {
  font-size: 4vw;
  color: black;
}
